In [1]:
L = []

In [ ]:
L = list()#construtor

In [6]:
dias = [3,1,10]

In [7]:
dias[0]

3

In [8]:
dias[1]

1

In [9]:
dias[2]

10

In [10]:
Z = [3,8,9]

In [11]:
Z[0] = 7

In [12]:
Z

[7, 8, 9]

In [21]:
V = [6,7,5,8,9]
L = V

comparando conteúdo

In [22]:
print(V == L)

True

perguntando se um é igual ao outro

In [18]:
print(V is L)
V[0] = 5

True

In [24]:
print(V)

[6, 7, 5, 8, 9]

In [23]:
print(L)

[6, 7, 5, 8, 9]

In [25]:
a = [81,82,83]

In [26]:
b = a[:] #cria um clone com fatia

In [27]:
print(a==b)

True

tem o mesmo conteúdo mas não tem o mesmo espaço na mémoria pois fizemos um clone.

In [28]:
print(a is b)

False

In [29]:
b[0] = 5

In [30]:
print(a)

[81, 82, 83]

In [31]:
print(b)

[5, 82, 83]

In [32]:
uma_lista = ['a','b','c','d','e','f']

[:] = até

intervalo fechado

In [33]:
print(uma_lista[1:3]) #pega o primeiro elemento até o terceiro(sem pega o terceiro elemento)

['b', 'c']

In [34]:
print(uma_lista[:4]) #pega o elemento 0 até o quarto(sem pega o quarto elemento)

['a', 'b', 'c', 'd']

In [35]:
print(uma_lista[3:]) #pega o pterceiro elemento até o ultimo

['d', 'e', 'f']

In [38]:
print(uma_lista[:]) #pega todos os elementos

['a', 'b', 'c', 'd', 'e', 'f']

In [39]:
a = [1,2,3]

In [40]:
b = a[:]

In [41]:
b[0] = 5

In [42]:
print(a[3]) #vai dar erro pois não existe um terceiro elemento

IndexError: list index out of range

In [65]:
minhaLista = [76,92,3,"oi",True,4,76]

In [59]:
lista1 = ['pitomba', 76]

In [66]:
#a
print(minhaLista[:6]+lista1[:])

[76, 92, 3, 'oi', True, 4, 'pitomba', 76]

In [73]:
novaLista = minhaLista + lista1

erros: letra a

In [57]:
#minhaLista[5] = 'pitomba'
#print(minhaLista)

[76, 'pitomba', 3, 'oi', True, 'pitomba', 'pitomba', 't', 'o', 'm', 'b', 'a', 'pitomba']

erro:

In [77]:
b = ['cibele']

In [76]:
#b
print(minhaLista[:3]+b[0]+minhaLista[3:])

TypeError: can only concatenate list (not "str") to list

acerto:

In [74]:
#b
print(novaLista[:3] + ['cibele'] + novaLista[3:])

[76, 92, 3, 'cibele', 'oi', True, 4, 76, 'pitomba', 76]

In [78]:
#c 
print([99]+novaLista)

[99, 76, 92, 3, 'oi', True, 4, 76, 'pitomba', 76]

errado:

In [86]:
#d
print(novaLista[3])

oi

certo:

In [87]:
#d
if minhaLista[0] == 'oi':
    print('oi foi encontrado no índice 0')
elif minhaLista[1] == 'oi':
    print('oi foi encontrado no índice 1')
elif minhaLista[2] == 'oi':
    print('oi foi encontrado no índice 2')
elif minhaLista[3] == 'oi':
    print('oi foi encontrado no índice 3')
elif minhaLista[4] == 'oi':
    print('oi foi encontrado no índice 4')
elif minhaLista[5] == 'oi':
    print('oi foi encontrado no índice 5')
else: 
    print('oi não foi encontrado em nenhum dos índices')

oi foi encontrado no índice 3

In [88]:
#e
print(minhaLista[:4] + minhaLista[5:])

[76, 92, 3, 'oi', 4, 76]

questão 3:

In [98]:
uma_lista1 = [4,2,8,6,5]

In [99]:
uma_lista1 = uma_lista1 + ["cibele"]

In [100]:
print(uma_lista1)

[4, 2, 8, 6, 5, 'cibele']

criando tuplas

In [101]:
tupla_numeros = (10,20,30)

In [102]:
tupla_numeros
(10,20,30)

(10, 20, 30)

In [103]:
tupla_nova = 10,20,30

In [113]:
tupla_nova

(10, 20, 30)

In [105]:
tupla_elemento = 10

In [112]:
tupla_elemento

10

In [107]:
tupla_vazia = ()

In [111]:
tupla_vazia

()

In [109]:
nova_tupla = tuple('Teste')

In [110]:
nova_tupla

('T', 'e', 's', 't', 'e')

In [114]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Zuely')

In [116]:
tupla_nomes.count('Marlene')

2

In [117]:
print(tupla_nomes.count('Suely'))

0

In [118]:
print(tupla_nomes.count('Zezinho'))

1

In [119]:
tupla = (1,2,2,3,4,4,4,5)

In [120]:
tupla.count(4)

3